<script>function confirmDelete(message){ if (!confirm(message)) { return false; } }</script>
<h1>Підготовка до друку документів про вищу освіту</h1>
<p>
  На цьому сайті на основі інформації з ЄДЕБО (у форматі XML) можна створити<br>
  файли для друку дипломів бакалавра, магістра, доктора філософії,<br>
  а також дублікатів дипломів спеціаліста (у форматі Microsoft Word .docx).
</p>
<%= form_with do |f| %>
  <%= f.label "Виберіть файл замовлення .xml, одержаний з ЄДЕБО:" %>
  <%= f.file_field :xml_file %>
  <div><%= f.label "У разі подвійних дипломів вкажіть додаткові параметри замовлення, відсутні в ЄДЕБО, а саме:" %></div>
  <div>
    <%= f.label "- виш-партнер (укр. мовою в орудному відмінку - ким, чим?)" %>
    <%= f.text_field :partner_uk, size: 60 %>
  </div>
  <div>
    <%= f.label "- виш-партнер (англ. мовою)" %>
    <%= f.text_field :partner_en, size: 60 %>
  </div>
  <div><%= f.label "Якщо дипломи не подвійні, залишіть поля вишу-партнера порожніми" %></div>
  <%= f.submit "Зберегти" %>
<% end %>
<div id="demo-page">
  <%= link_to "Сторінка з демо-файлами замовлень (буде відкрито в новій вкладці)",
              demo_path, target: "_blank" %>
</div>
<% if @orders.presence && @orders.size > 0 %>
  <table class="orders">
    <thead>
      <tr>
        <th>Назва замовлення</th><th>Додаткові параметри замовлення, відсутні в ЄДЕБО</th><th colspan="3">Дії з замовленням</th>
      </tr>
    </thead>
    <tbody>
      <% order_index = 0 %>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td>
            <% if order.partner_uk.present? && order.partner_en.present? %>
              <div>Подвійні дипломи: у співпраці з <%= order.partner_uk %></div>
              <div>Dual Degree: in collaboration with <%= order.partner_en %></div>
            <% end %>
          </td>
          <td><%= link_to "Деталі", order %></td>
          <td><%= button_to "Видалити", order, method: :delete,
                  onclick: "return confirmDelete('Справді видалити замовлення " + order.name + " ?')"
              %>
          </td>
        <% if @orders.size > 1 && order_index == 0 %>
          <td id="del_exec_orders" rowspan=<%= @orders.size %>>
            <% if @orders.size > 3 %>
              <%= button_to "Видалити все", '/', method: :delete,
                            onclick: "return confirmDelete('Справді видалити всі замовлення?')"
              %><br><br>
            <% end %>
            <%= link_to "Інформація для перевірки", check_path %>
            <br><br>
            <%= button_to "Отримати всі дипломи в zip", 'diplomas', method: :get %>
          </td>
        <% elsif @orders.size == 1 %>
          <td>
            <%= link_to "Інформація для перевірки", check_path %><br><br>
            <%= button_to "Отримати дипломи в zip", 'diplomas', method: :get %>
          </td>
        <% end %>
        <% order_index += 1 %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="5">Примітка. Zip-файл з дипломами буде надіслано в браузер відповідно до його налаштувань.</th>
      </tr>
    </tfoot>
  </table>
<% end %>
<br>
<%= turbo_frame_tag "apples-list" do %>

<% end %>