<h1>Підготовка до друку документів про вищу освіту</h1>
<p>
  На цьому сайті на основі інформації з замовлень ЄДЕБО (у форматі XML) можна створити<br>
  файли для друку дипломів молодшого бакалавра, бакалавра, магістра (у форматі Microsoft Word .docx).
</p>
<%= form_with do |f| %>
  <%= f.label "Виберіть файл замовлення .xml, одержаний з ЄДЕБО:" %>
  <%= f.file_field :xml_file %>
  <%= f.submit "Надіслати файл на сервер" %>
<% end %>

<% if @orders.count > 0 %>
  <table class="orders">
    <thead>
      <tr>
        <th>Назва замовлення</th><th colspan="2">Дії</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td><%= link_to "Деталі", order %></td>
          <td><%= link_to "Видалити", order, method: :delete, data: { confirm: "Справді видалити?" } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
