<h1>Підготовка до друку документів про вищу освіту</h1>
<p>
  На цьому сайті на основі інформації з замовлень ЄДЕБО (у форматі XML) можна створити<br>
  файли для друку дипломів молодшого бакалавра, бакалавра, магістра (у форматі Microsoft Word .docx).
</p>

<%= form_with do |f| %>
  <%= f.label "Виберіть файл замовлення .xml, одержаний з ЄДЕБО:" %>
  <%= f.file_field :xml_file %>
  <%= f.submit "Надіслати файл на сервер" %>
<% end %>

<% if @orders.size > 0 %>
  <table class="orders">
    <thead>
      <tr>
        <th>Назва замовлення</th><th colspan="3">Дії</th>
      </tr>
    </thead>
    <tbody>
      <% order_index = 0 %>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td><%= link_to "Деталі", order %></td>
          <td><%= link_to "Видалити", order, method: :delete, data: { confirm: "Справді видалити?" } %></td>
          <% if @orders.size > 1 && order_index == 0 %>
            <td id="del_exec_orders" rowspan=<%= @orders.size %>>
              <%= button_to "Видалити все", '/', method: :delete, data: { confirm: "Справді видалити все?" } %>
              <br><br>
              <%= button_to "Отримати всі дипломи в zip", 'diplomas', method: :get %>
            </td>
          <% elsif @orders.size == 1 %>
            <td><%= button_to "Отримати дипломи в zip", 'diplomas', method: :get %></td>
          <% end %>
          <% order_index += 1 %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
