<!DOCTYPE html>
<html>
  <head>
    <title>Друк документів про вищу освіту</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%=
      # javacript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %>

  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>